$ivala-bckg: #1A202C;
$ivala-header: #2D3748;
$ivala-text: #A29FAD;
$quiz-tit: #304162;
$quiz-txt: #817D90;
$msq-down-bckg: #EEEBFC;
$overlay-bg: #F0EFF2;
$hidder-bg: #EEEBFC;
$default-white: #FFF;
$bottom-examples-title: #0D0B49;
$bottom-examples-simple: #666E77;