$header-links: #181A1F;
$default-white: #FFF;
$header-link-hovered: #7F86DF;
$text-color-one: #0D0B49;
$text-color-two: #666E77;
$exapmle-bckg: #F8F9FD;
$example-border: #EFEFF0;
$exapmle-hovered-bckg: #3D4697;
$example-hovered-text: #FFF;
$main-click: #3D4697;
$phone-ball: #F9816A;
$left-ball: #AF22D1;
$top-ball: #F9816A;
$top-ball-small: #4CE2E2;
$bottom-ball: #71E4E3;
$center-ball: #3166EB;
$footer-bckg: #FBFBFB;
$footer-text: #67677B;
$banner-text: #CDCDCD;
$chart-bckg: #F2F2F2;
$poster-bckg: #F8F9FD;
$poster-border: #EFEFF0;
$like-bckg: #D7ECD3;
$dislike-bckg: #F2B1B5;
$fail-color: #dc3232;
$inp-text: #9A99A2;
$inp-border: #D1CFD7;
$submit-btn: #050C7E;
$benefits-border: #E6E4EA;
$benefits-bckg: #3D4697;
$blog-btn: #F8F9FD;
$blog-txt: #666E77;
$applying-bckg: #3D4697;
$applying-brdr: #6C77DA;
$placeholder-txt: #BBBAC4;
$file-txt: #7C818A;
$balls-bckg: #E5E5E5;
$balls-border: #E5E5E6;
$example-more: #FBFBFB;