@import "../../styles/blocks/ivala-vars.scss";

.int {
    background-color: $ivala-bckg;

    &__head {
        height: 820px;
        background-image: url("../../assets/photos/ivala/header.png");
        background-position: center bottom;
        background-size: cover;
    }

    &__paralaxed {
        margin-top: 120px;
        height: 1160px;
        background-image: url("../../assets/photos/ivala/pralax-one.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
}

.platform {
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 20px;

    &__content {
        display: flex;
        justify-content: space-between;
        padding-top: 62px;

        &-smaller {
            font-family: 'SF Pro Display';
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            color: $default-white;
        }

        &-bigger {
            font-family: 'SF Pro Display';
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: $default-white;
        }
    }

    &__more {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 94px;

        &-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            background: linear-gradient(37.12deg, rgba(255, 110, 128, 0.84) 13.65%, rgba(255, 161, 131, 0.84) 90.68%);
            background-clip: text;
            color: transparent;

            &>span {
                background: $default-white;
                background-clip: text;
                color: transparent;
            }
        }

        &-txt {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $ivala-text;

            &:first-of-type {
                margin-top: 12px;
            }
        }

        &-mouse {
            margin-top: 24px;
        }
    }
}

.detailed {
    &__desc {
        max-width: 1064px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;

        &-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            color: $default-white;

            &>span {
                display: block;
            }
        }

        &-content {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            color: $ivala-text;
            max-width: 412px;
        }
    }
}

.placard {
    display: flex;
    justify-content: center;

    &__photo {
        max-width: 1064px;
        position: relative;
        padding: 0 20px;
        top: -280px;

        &-item {
            width: 100%;
        }

        &-smooth {
            position: absolute;
            top: 380px;
            left: 0;
            background: linear-gradient(180deg, rgba(26, 32, 44, 0) 1.33%, rgba(26, 32, 44, 0.28) 18.02%, rgba(26, 32, 44, 0.51) 33.71%, rgba(26, 32, 44, 0.6) 48.48%, rgba(26, 32, 44, 0.81) 63.02%, #1A202C 80.1%, #1A202C 100%);
            height: 592px;
            width: 100%;
        }
    }
}

.landing {
    margin-top: 267px;

    &__container {
        max-width: 1064px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

.abt {
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $default-white;
        max-width: 342px;
    }

    &__text {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 18px;
        max-width: 394px;
        color: $ivala-text;
    }
}

.ph {
    display: flex;
    justify-content: space-between;
    margin-top: 152px;

    &__box {
        max-width: 492px;
        position: relative;

        &:first-of-type {
            &>.smth {
                position: absolute;
                top: 230px;
            }
        }

        &:nth-of-type(2) {
            position: relative;
            top: -370px;

            &>.smth {
                position: absolute;
                top: 270px;
            }
        }

        &-img {
            width: 100%;
        }

        &-smooth {
            background: linear-gradient(180deg, rgba(26, 32, 44, 0) 1.48%, rgba(26, 32, 44, 0.1) 6.5%, rgba(26, 32, 44, 0.2) 12.45%, rgba(26, 32, 44, 0.3) 18.72%, rgba(26, 32, 44, 0.3) 24.99%, rgba(26, 32, 44, 0.4) 32.45%, rgba(26, 32, 44, 0.5) 39.45%, rgba(26, 32, 44, 0.6) 47.05%, rgba(26, 32, 44, 0.7) 54.64%, rgba(26, 32, 44, 0.8) 61.9%, rgba(26, 32, 44, 0.9) 68.9%, #1A202C 77.56%, #1A202C 100%);
            height: 364px;
            width: 100%;
        }
    }
}

.mob {
    margin-top: 128px;

    &__paralaxed {
        margin-top: 120px;
        height: 941px;
        background-image: url("../../assets/photos/ivala/phones.png");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
}

.pal {
    margin: 0 auto;
    margin-top: 250px;
    max-width: 1064px;
    padding: 0 20px;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $default-white;
    }

    &__box {
        display: flex;
        margin-top: 54px;
    }
}

.typography {
    padding: 160px 20px 0;
    max-width: 1064px;
    margin: 0 auto;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $default-white;
    }

    &__section {
        display: flex;
        justify-content: space-between;
        margin-top: 54px;
    }
}

.part {

    &__big {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        background: linear-gradient(37.12deg, rgba(255, 110, 128, 0.84) 13.65%, rgba(255, 161, 131, 0.84) 90.68%);
        background-clip: text;
        color: transparent;
    }

    &__medium {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $default-white;
        margin-top: 12px;
    }

    &__small {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: $ivala-text;
        margin-top: 12px;
    }
}

.flash {
    background-image: url("../../assets/photos/ivala/light.svg");
    background-position: center top;
    background-repeat: no-repeat;

    &__flashcards {
        position: relative;
        top: 422px;
        margin: 0 auto;
        max-width: 1064px;
        padding: 0 20px;
        z-index: 1;

        &-img {
            width: 100%;
            z-index: 1;
        }

        &-dog {
            position: absolute;
            top: -259px;
            left: 323px;
            z-index: 2;
        }

        &-smooth {
            position: absolute;
            top: 400px;
            left: 0;
            height: 330px;
            width: 100%;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 1.48%, rgba(255, 255, 255, 0.1) 6.5%, rgba(255, 255, 255, 0.2) 12.45%, rgba(255, 255, 255, 0.3) 18.72%, rgba(255, 255, 255, 0.3) 24.99%, rgba(255, 255, 255, 0.4) 32.45%, rgba(255, 255, 255, 0.5) 39.45%, rgba(255, 255, 255, 0.6) 47.05%, rgba(255, 255, 255, 0.7) 54.64%, rgba(255, 255, 255, 0.8) 61.9%, rgba(255, 255, 255, 0.9) 68.9%, #FFFFFF 77.56%, #FFFFFF 100%);
        }
    }
}

.quiz {
    margin-top: 450px;
    position: relative;

    &__platform {
        padding-top: 40px;
    }

    &__first {
        position: absolute;
        top: 340px;
        width: 100%;
        height: 20%;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &__second {
        position: absolute;
        top: 240px;
        width: 100%;
        height: 20%;
        z-index: -1;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 1%;
        }
    }

    &__third {
        position: absolute;
        top: 52%;
        width: 100%;
        height: 600px;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__fourth {
        position: absolute;
        height: 500px;
        top: 55%;
        width: 100%;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__mob {
        margin-top: 200px;
    }
}

.msqs {
    margin-top: 450px;
    padding: 20px 20px 532px;
    background: $msq-down-bckg;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1064px;
        margin: 0 auto;

        &:first-of-type {

            &>.msq {
                position: relative;

                >.dg {
                    position: absolute;
                    z-index: 2;
                    bottom: -23px;
                    right: -57px;
                    max-width: 253px;

                    &>img {
                        width: 100%;
                    }
                }

                &>.sl {
                    position: absolute;
                    z-index: 2;
                    right: -27px;
                    bottom: 100px;
                    max-width: 57px;

                    &>img {
                        width: 100%;
                    }
                }

            }
        }

        &:nth-of-type(2) {
            margin-top: 180px;

            &>.msq {
                position: relative;

                >.dg {
                    position: absolute;
                    z-index: 2;
                    bottom: -40px;
                    left: -38px;
                    max-width: 150px;

                    &>img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.msq {
    max-width: 564px;

    &__card {
        width: 100%;
    }

    &__smooth {
        position: absolute;
        z-index: 1;
        top: 240px;
        height: 256px;
        width: 100%;
        background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
    }
}

.wrd {
    z-index: 2;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $quiz-tit;
    }

    &__text {
        font-family: 'SF Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $quiz-txt;
        max-width: 394px;
        margin-top: 18px;
    }
}

.lght {
    color: $quiz-tit;

    &-cont {
        color: $quiz-txt;
    }
}

.down {
    position: relative;
    margin-top: 1225px;
    height: 5200px;
    background: $msq-down-bckg;

    &__bg {
        position: absolute;
        top: -510px;
        width: 100%;

        &-img {
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__btm {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 39%;

        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}

.land {
    position: relative;
    top: -800px;

    &__container {
        max-width: 1064px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;

        &:first-of-type {

            &>.hang {
                &>.smth {
                    position: absolute;
                    height: 256px;
                    width: 100%;
                    bottom: 430px;
                    background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                    z-index: 3;
                }
            }

            &>.after {

                &>.bx {
                    position: relative;
                    height: 1370px;

                    &-img {
                        height: 100%;
                    }

                    &>.blur {
                        position: absolute;
                        bottom: 430px;
                        height: 256px;
                        width: 100%;
                        background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                    }
                }
            }
        }

        &:nth-of-type(2) {
            &>.hang {
                &>.smth {
                    position: absolute;
                    height: 256px;
                    width: 100%;
                    bottom: 230px;
                    background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                }

                &>.pet {
                    position: absolute;
                    top: -150px;
                    z-index: 1;
                }
            }

            &>.after {
                &>.bx {
                    position: relative;

                    &>.blur {
                        position: absolute;
                        bottom: 0;
                        height: 256px;
                        width: 100%;
                        background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                    }
                }
            }
        }

        &:nth-of-type(3) {
            margin-top: 386px;

            &>.hang {

                &>.smth {
                    position: absolute;
                    height: 256px;
                    width: 100%;
                    bottom: 400px;
                    background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                }

                &>.pet {
                    z-index: 1;
                }
            }

            &>.after {
                &>.bx {
                    position: relative;

                    &>.blur {
                        position: absolute;
                        bottom: 0;
                        height: 256px;
                        width: 100%;
                        background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                    }
                }

            }
        }

        &:nth-of-type(4) {
            margin-top: 386px;

            &>.hang {

                &>.im {
                    z-index: 2;
                }

                &>.smth {
                    position: absolute;
                    height: 256px;
                    width: 100%;
                    bottom: 500px;
                    background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                }

                &>.pet {
                    position: absolute;
                    top: -235px;
                    z-index: 1;
                }
            }

            &>.after {
                &>.bx {
                    position: relative;

                    &>.blur {
                        position: absolute;
                        bottom: 0;
                        height: 256px;
                        width: 100%;
                        background: linear-gradient(180deg, rgba(238, 235, 252, 0) 1.48%, rgba(238, 235, 252, 0.1) 6.5%, rgba(238, 235, 252, 0.2) 12.45%, rgba(238, 235, 252, 0.3) 18.72%, rgba(238, 235, 252, 0.3) 24.99%, rgba(238, 235, 252, 0.4) 32.45%, rgba(238, 235, 252, 0.5) 39.45%, rgba(238, 235, 252, 0.6) 47.05%, rgba(238, 235, 252, 0.7) 54.64%, rgba(238, 235, 252, 0.8) 61.9%, rgba(238, 235, 252, 0.9) 68.9%, #EEEBFC 77.56%, #EEEBFC 100%);
                    }
                }

            }
        }
    }
}

.after {
    &__desc {
        &-title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 55px;
            max-width: 431px;
            color: $quiz-tit;
        }

        &-text {
            font-family: 'SF Pro Display';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            max-width: 394px;
            margin-top: 18px;
            color: $quiz-txt;
        }
    }

    &__box {
        position: relative;
        margin-top: 114px;
        max-width: 219px;

        &-img {
            width: 100%;
        }

        &-hidder {
            position: absolute;
            bottom: -12px;
            background: $hidder-bg;
            height: 450px;
            width: 100%;
        }
    }
}

.hang {
    position: relative;
    max-width: 561px;

    &__img {
        width: 100%;
        z-index: 2;
    }

    &__bg {
        max-width: 561px;
        position: relative;
        top: -19px;
        z-index: 2;

        &-img {
            width: 100%;
        }

        &-overlay {
            position: absolute;
            top: 0;
            height: 23px;
            width: 551px;
            left: 4px;
            background: $overlay-bg;
            z-index: 3;
        }

        &-smaller {
            position: absolute;
            top: 30px;
            right: 0;
            max-width: 421px;

            &>img {
                width: 100%;
            }
        }
    }

    &__pet {
        position: absolute;
        top: -110px;
        left: 33%;
        max-width: 164px;
        z-index: -1;

        &-img {
            width: 100%;
        }
    }
}

.ftr {
    &__check {
        margin-top: 0;
    }

    background: linear-gradient(180deg, #EEEBFC 0%, rgba(238, 235, 252, 0.9) 6.33%, rgba(238, 235, 252, 0.8) 12.7%, rgba(238, 235, 252, 0.7) 18.82%, rgba(238, 235, 252, 0.6) 25.1%, rgba(238, 235, 252, 0.5) 30.62%, rgba(238, 235, 252, 0.4) 36.9%, rgba(238, 235, 252, 0.3) 43.03%, rgba(238, 235, 252, 0.2) 48.85%, rgba(238, 235, 252, 0.1) 55.59%, rgba(238, 235, 252, 0) 61.42%, rgba(238, 235, 252, 0) 68.16%, rgba(238, 235, 252, 0) 74.44%, rgba(238, 235, 252, 0) 81.18%, rgba(238, 235, 252, 0) 87.16%, rgba(238, 235, 252, 0) 93.9%, rgba(255, 255, 255, 0) 100%);
}

.ivala-ftr-tit {
    color: $bottom-examples-title;
}

.ivala-ftr-txt {
    color: $bottom-examples-simple;
}